<% include ../partials/header.ejs %>

<h1 id="contactTitle">contact</h1>

<form class="ui form contactForm" action="/contact" method="POST">
  <div class="field">
    <input type="text" name="name" placeholder="Name" required>
  </div>
  <div class="field">
    <input type="text" name="subject" placeholder="Subject" required>
  </div>
  <div class="field">
    <input type="email" name="email" placeholder="Email" id="emailInput" required>
  </div>
  <div class="field">
    <textarea placeholder="Message" name="message" required style="resize: none;"></textarea>
  </div>
  <button class="ui button" type="submit">Submit</button>
    <div class="loader" id="loader-4">
      <span></span>
      <span></span>
      <span></span>
    </div>
</form>


<% include ../partials/footer.ejs %>
